{% extends 'base.html' %}

{% block title %}Create User{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-8">Create User</h1>
<div class="bg-white rounded-lg shadow-md overflow-hidden p-4">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-4">
            <label for="{{ field.id_for_label }}" class="block text-gray-700 font-bold mb-2">{{ field.label }}:</label>
            {{ field }}
            {% if field.errors %}
            <p class="text-red-500 text-sm mt-1">{{ field.errors.0 }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
            Create User
        </button>
    </form>
</div>
{% endblock %}

