{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-8">Welcome, {{ user.username }}</h1>
<p class="mb-4">Your role: {{ user.get_user_type_display }}</p>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {% if user.user_type == 'admin' %}
    <a href="{% url 'admin_dashboard' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Admin Dashboard
    </a>
    {% elif user.user_type == 'annotator' %}
    <a href="{% url 'annotator_dashboard' %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
        Annotator Dashboard
    </a>
    <a href="{% url 'upload_image' %}" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">
        Upload Image
    </a>
    {% elif user.user_type == 'verifier' %}
    <a href="{% url 'verifier_dashboard' %}" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">
        Verifier Dashboard
    </a>
    <a href="{% url 'upload_image' %}" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">
        Upload Image
    </a>
    {% elif user.user_type == 'viewer' %}
    <a href="{% url 'viewer_dashboard' %}" class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded">
        Viewer Dashboard
    </a>
    {% endif %}
    
</div>
{% endblock %}

